
    <mat-toolbar color="primary" id="content">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon >menu</mat-icon>
      </button> -->



      <span> <img src="../../assets/KPT-Localization-Logo-174x60.png"></span>
      
      <span class="example-spacer"></span>

      <section >
        <div class="example-button-row" >
         <a mat-button  routerLink="/home">Home</a>
          <a mat-button routerLink="aboutus">About us</a>
          <a mat-button routerLink="partners">partners</a>
          <a mat-button routerLink="products">product</a>
          <a mat-button routerLink="careers" >Career</a>
          <a mat-button routerLink="blog" >blog </a>
          <!-- <a mat-button  routerLink="/empdata" >database </a> -->
          <a mat-button  routerLink="/login">Login/ signup</a>
          <a mat-button  routerLink="/login">{{data}}</a>
          <!-- <a mat-button routerLink="/signup" skipLocationChange:true >Signup </a> -->
        </div>
      </section>
     

<!-- 
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        <mat-icon>share</mat-icon> 
      </button> -->

    </mat-toolbar>




    <button id="chatBot"><img src="../../assets/1606905546274_bot-logo-2.png" class="chatbot_logo"></button>