.container{
padding-top: 5%;
width: 100%;
height: 100%;
background-color: rgb(178, 205, 205);
}

.example-card {
    margin-left: 4%;
    margin-top: 2%;
    max-width: 90%;
    height: 80%;
  }
  .imgPosition{
      padding-left: 30%;
      padding-top: 5%;
  }